@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 0;
}

button,
input,
textarea {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

/* scrollbar style */
/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c4c4c4 #efefef;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #efefef;
}

*::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
}
